<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ফ্যাক্টরী রেজিস্ট্রেশন</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
</head>
<body>
    <div class="container my-5 h-100 d-flex justify-content-center text-center">
        <div class="row mt-5">
            <div class="col-md-12 mt-5">
                <img src="{{ url_for('static', filename='img/registration-success.gif') }}" alt="" style="width: 300px;">
            </div>
        </div>
    </div>
    <div class="container my-auto h-100 text-center">
        <h1 class="text-success">
            Registration Successful
        </h1>
        <p>Your request is pending for approval from Administration</p>
        <p>Redirecting to <a href="{{main_page}}">Login Page</a>.....</p>
    </div>


    <script>
        $(document).ready(function()
        {
            setTimeout(function()
            {
                window.location.href= '{{main_page}}';
            }, 2500);
        })
    </script>


    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>